fastapi
uvicorn[standard]


sqlalchemy
aiosqlite
alembic


python-jose[cryptography]
passlib[bcrypt]


pydantic
pydantic-settings
python-dotenv
python-multipart
websockets
httpx
python-magic
pillow


loguru


pytest
pytest-asyncio


aiofiles